#sidebar {
  width: 125pt;
  height: 670pt;
  border-radius: 5pt;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 15pt;
  top: 250pt;
  background: linear-gradient(272.87deg, #5c5c5c -7.21%, #ffffff 207.14%);
}

#self-picture {
  position: absolute;
  object-fit: cover;
  left: -50pt;
  top: -90pt;
  height: 120pt;
  filter: contrast(150%) hue-rotate(153deg) brightness(50%) blur(0.5pt);
  rotate: 90deg;
}

#skills {
  display: flex;
  flex-direction: column;
}

.icon-set {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon:nth-of-type(odd) {
  rotate: 12deg;
}

.icon.icon:nth-of-type(even) {
  rotate: -36deg;
}

img {
  display: block;
}
