#main-section {
  margin-left: 300pt;
}

#main-section p {
  text-indent: 12pt;
}

#main-section p:first-of-type::first-letter {
  font-size: 16pt;
  font-weight: bold;
  color: #2ea479;
}

ul {
  /* Can't style a bullet directly -- use work-around */
  padding: 0;
  margin: 0;
  list-style-type: none;
  max-width: 50em;
}

li {
  font-size: 14pt;
}

li::before {
  content: "\25A0";
  color: #2ea479;
  font-size: 15pt;
  font-weight: bold;
}

li li::before {
  content: "\25B6";
  color: #2ea479;
  padding-left: 2em;
}
