/* Primary color: #2EA479 */

.header-icon {
  width: 16pt;
  height: 16pt;
}

.icon {
  width: 32pt;
  height: 32pt;
  margin: 8pt 24pt;
}

.content-container {
  margin-top: 100pt;
  margin: 100pt 25% 0 8.33%;
}

.primary {
  background-color: #2ea479;
}

.primary-header {
  color: #fff;
  width: 100%;
}

.secondary-header {
  width: 95%;
  color: #2a8665;
}

.bear-logo {
  width: 128pt;
  height: 128pt;
  rotate: 12deg;
  position: absolute;
  left: 1070pt;
  top: 680pt;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration-color: #2a8665;
}

h1 {
  color: #2ea479;
}

h2 {
  color: #fff;
  margin: 5pt 0 0 10pt;
}

h3 {
  margin-top: 0;
  color: #2a8665;
  margin: 0 0 0 10pt;
}

p {
  font-size: 14pt;
}

.gradient-box {
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 79.17%,
    rgba(46, 164, 121, 0.5) 100%
  );
}
