#sidebar {
  width: 270pt;
  height: 450pt;
  border-radius: 5pt;
  position: relative;
  float: left;
  margin: 0 15pt;
  top: -25pt;
}

#self-picture {
  width: 100%;
  position: absolute;
  top: -170pt;
}

.primary-header {
  position: relative;
  margin-top: 64pt;
}

.skills {
  margin-left: 15pt;
}

.implementation-icons .technologies-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
